<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SphinxServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SphinxService</display-name>
    <servlet-name>SphinxService</servlet-name>
    <servlet-class>servlets.SphinxService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SphinxService</servlet-name>
    <url-pattern>/SphinxService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SphinxServlet</display-name>
    <servlet-name>SphinxServlet</servlet-name>
    <servlet-class>Sphinx.SphinxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SphinxServlet</servlet-name>
    <url-pattern>/SphinxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sphinxServ</display-name>
    <servlet-name>sphinxServ</servlet-name>
    <servlet-class>Servlet.sphinxServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sphinxServ</servlet-name>
    <url-pattern>/sphinxServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sphinx</display-name>
    <servlet-name>Sphinx</servlet-name>
    <servlet-class>SphinxServlet.Sphinx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sphinx</servlet-name>
    <url-pattern>/Sphinx</url-pattern>
  </servlet-mapping>
</web-app>