@{
Page.Title = "Strona główna";
}

<h1>Witamy na stronie projektu <strong>MakeMyNote</strong></h1> 

<h2>Projekt realizują:</h2>
<ol>
<li>Mikołaj Mizera</li>
<li>Adam Żyliński</li>
<li>Sławomir Rąpała</li>
</ol>