@using Emgu.CV.OCR;
@using Emgu.CV.Structure;
@using Emgu.Util;
@using Emgu.CV.UI;
@using Emgu.CV.CvEnum;
@using FreeTextBoxControls.Design; 
@using System.Drawing;
@using System.Drawing.Imaging;

@using AForge;
@using AForge.Imaging;


@functions
{
    public static Emgu.CV.Image<Bgr, Byte> emguImage(Bitmap emguBitmap)
    {
        Emgu.CV.Image<Bgr, Byte> retBitmap = new Emgu.CV.Image<Bgr, byte>(emguBitmap);
        return retBitmap;
    }
}


@{ 
    Page.Title = "Dodawanie obrazu";
    
    WebImage photo = null;
    var newFileName = "";
    var oldFileName = "";
    var userFileName = "";
    var newFileFolderPath = "";
    var newFileFolderMappedPath = "";
    var imagePath = "";
    const string language = "eng";
    //string TessractData = "";
    var imageMappedPath = "";
    var userID = "";

    FileStream srcstream;
    Bitmap source2 = null;

    Emgu.CV.Image<Bgr, Byte> to_rec;

    Tesseract Do_ocr;
    string OCRtext = "";

    userID = WebSecurity.CurrentUserId.ToString();

    if(IsPost){
        userFileName = Request.Form["userFileName"];
        var db = Database.Open("mmnote_db");

        photo = WebImage.GetImageFromRequest();
        if(photo != null){

            oldFileName = Path.GetFileName(photo.FileName);
            newFileName = Guid.NewGuid().ToString() + "_" +
            oldFileName;
            newFileFolderPath = @"Files\" + @userID + @"\images\";
            newFileFolderMappedPath = Server.MapPath(newFileFolderPath);

            if (!Directory.Exists(newFileFolderMappedPath))
                Directory.CreateDirectory(newFileFolderMappedPath);

            imagePath = newFileFolderPath + newFileName;

            if(userFileName == "")
            userFileName = oldFileName;

           imageMappedPath = Server.MapPath(imagePath);

            
            //TessractData = @"tessdata\";
            //TessractData = Server.MapPath(TessractData);
            photo.Save(@"~\" + imagePath);
            db.Execute("INSERT INTO files (u_id, name, path, type) VALUES (@0, @1, @2, 'IMAGE')", WebSecurity.CurrentUserId, userFileName, imagePath);


            srcstream = new FileStream(imageMappedPath, FileMode.Open, FileAccess.Read, FileShare.ReadWrite);
            source2 = new Bitmap(srcstream);

            to_rec = emguImage(source2);
            
            //Emgu.CV.Image to_rec = new Emgu.CV.Image(source);

            Do_ocr = new Tesseract(@"tessdata\", "eng", Tesseract.OcrEngineMode.OEM_DEFAULT);

            Do_ocr.Recognize(to_rec);
            OCRtext = Do_ocr.GetText();
            Do_ocr.Dispose();
            to_rec.Dispose();



        }

    }

}

<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
</head>
<body>
  <form action="" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend> Upload Image </legend>
      <label for="Image">Image</label>
      <input type="file" name="Image" />
      <br/>
        <label>Podaj nazwę pliku (jeśli pozostawisz puste pozostanie niezmieniona):</label>
       <input type="text" name="userFileName" />
      <br/>
      <input type="submit" value="Upload" />
    </fieldset>
  </form>
  <h1>Uploaded Image</h1>
    @if(imagePath != ""){
    <div class="result">
        <img src="@imagePath" alt="image" width="300px" />
        <br/>
        <p>@OCRtext</p>
    </div>

    }
</body>
</html>