<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="1048576" />
  </system.web>
    <connectionStrings>
        <add connectionString="Server=NIMROD-KOMPUTER;Database=mmnote_db;Trusted_Connection=True" name="mmnote_db" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>