<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_base.Properties.Settings.files_dbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\files_db.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Data_base.Properties.Settings.files_dbConnectionString1"
            connectionString="Data Source=.\SQLSRVR;AttachDbFilename=|DataDirectory|\files_db.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Data_base.Properties.Settings.files_dbConnectionString2"
            connectionString="Data Source=.\SQLSRVR;AttachDbFilename=|DataDirectory|\files_db.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
