@{
Page.Title = "Wylogowanie";    
WebSecurity.Logout();
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Wylogowanie</title>
    </head>
    <body>
        <p>Pomyślnie wylogowałeś się.</p>
        <a href="/Default">Kliknij aby powrócić do strony głównej.</a>
       
    </body>
</html>